@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, html
{
    overflow-x: hidden;
    background-color: black;
}

.loading_screen
{
    position: fixed;
    top: 0;
    background: #050548;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img
    {
        width: 100px;
        height: auto;
        animation: load 1s ease-in-out 0s infinite alternate-reverse;
    }
    span
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Bebas Neue', 'sans-serif';
        font-size: 16px;
        letter-spacing: 5px;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.25);
        width: 150px;
        height: 50px;
        border-radius: 15px;
        margin-top: 50px;
    }
}

.scene
{
    width: 100vw;
    height: 100vh;
    background: #050548;
    position: relative;
    animation: sun_bg;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    // overflow: hidden;
    .sun
    {
        width: 400px;
        height: auto;
        position: absolute;
        top: calc(50% - 200px);
        left: calc(50% - 200px);
        z-index: 10;
    }
    .mercury
    {
        width: 75px;
        height: auto;
        position: absolute;
        top: 10%;
        left: 25%;
        z-index: 9;
        transform: rotateZ(0);
    }
    .venus
    {
        width: 120px;
        height: auto;
        position: absolute;
        top: 65%;
        left: 30%;
        z-index: 8;
        transform: rotateZ(50deg);
    }
    .earth
    {
        width: 135px;
        height: auto;
        position: absolute;
        top: 22%;
        left: 38%;
        z-index: 8;
        transform: rotateZ(20deg);
    }
    .mars
    {
        width: 120px;
        height: auto;
        position: absolute;
        top: 53%;
        left: 49%;
        transform: rotateZ(45deg);
    }
    .jupiter
    {
        width: 175px;
        height: auto;
        position: absolute;
        top: 2%;
        left: 56%;
        transform: rotateZ(7deg);
    }
    .saturn
    {
        width: 220px;
        height: auto;
        position: absolute;
        top: 67%;
        left: 63%;
        transform: rotateZ(45deg);
    }
    .neptune
    {
        width: 155px;
        height: auto;
        position: absolute;
        top: 51%;
        left: 86%;
        transform: rotateZ(45deg);
    }
    .uranus
    {
        width: 155px;
        height: auto;
        position: absolute;
        top: 23%;
        left: 77%;
        transform: rotateZ(28deg);
    }
    .pluto
    {
        width: 50px;
        height: auto;
        position: absolute;
        top: 1%;
        left: 94%;
        transform: rotateZ(10deg);
    }

    h1
    {
        font-family: 'Bebas Neue', 'sans-serif';
        font-size: 46px;
        width: 300px;
        position: absolute;
        top: 72%;
        left: calc(50% - 100px);
        letter-spacing: 5px;
        color: #fff;
    }
    p
    {
        text-align: center;
        font-family: 'Bebas Neue', 'sans-serif';
        font-size: 12px;
        width: 300px;
        position: absolute;
        top: 84%;
        left: calc(50% - 153px);
        letter-spacing: 5px;
        color: #fff;
    }
    span
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Bebas Neue', 'sans-serif';
        font-size: 14px;
        position: absolute;
        bottom: 4%;
        left: calc(50% - 75px);
        letter-spacing: 5px;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.25);
        width: 150px;
        height: 30px;
        border-radius: 15px;
        animation: jump 0.75s ease-in-out 0s infinite alternate;
        
    }
}

.break_one
{
    width: 100vw;
    height: 100vh;
    background: #000;
    position: relative;
    z-index: 11;
    h1
    {
        font-family: 'Bebas Neue', 'sans-serif';
        font-size: 46px;
        position: absolute;
        top: 25%;
        left: 5%;
        letter-spacing: 5px;
        color: #fff;
    }
    h2
    {
        font-family: 'Bebas Neue', 'sans-serif';
        font-size: 46px;
        position: absolute;
        bottom: 25%;
        right: 5%;
        letter-spacing: 5px;
        color: #fff;
    }
}
.scene_sun
{
    width: 100vw;
    height: 100vh;
    // background: #000;
    background: radial-gradient(circle, rgb(90, 54, 17) 0%, rgba(0,0,0,1) 40%);
    position: relative;

    .sun_container
    {
        width: auto;
        height: 100%;
        z-index: 2;
        .sun_self
        {
            width: 400px;
            height: auto;
            position: absolute;
            top: calc(50% - 200px);
            left: calc(50% - 200px);
            z-index: 10;
        }
        p
        {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            font-family: 'Bebas Neue', 'sans-serif';
            font-size: 16px;
            opacity: 0;
            letter-spacing: 5px;
            color: #fff;
            // background-color: rgba(255, 255, 255, 0.25);
            width: 150px;
            height: auto;
            padding: 10px;
            border-radius: 15px;
            span
            {
                margin: 5px 0;
                color: #fb8108ff;
            }
            &:nth-child(2)
            {
                position: absolute;
                top: 18%;
                left: 57%;
            }
            &:nth-child(3)
            {
                position: absolute;
                top: 40%;
                left: 27%;
            }
            &:nth-child(4)
            {
                position: absolute;
                top: 60%;
                left: 62%;
            }
            
        }
    }

    .sun_orbit
    {
        width: 600px;
        height: auto;
        position: absolute;
        top: calc(50% - 300px);
        left: calc(50% - 300px);
        opacity: 1;
    }
    .magni_sun
    {
        width: 400px;
        height: auto;
        position: absolute;
        top: calc(50% - 200px);
        left: calc(50% - 200px);
        opacity: 0;
    }
    p
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-family: 'Bebas Neue', 'sans-serif';
        font-size: 16px;
        opacity: 0;
        letter-spacing: 5px;
        color: #fff;
        // background-color: rgba(255, 255, 255, 0.25);
        width: 250px;
        height: auto;
        padding: 10px;
        border-radius: 15px;
        span
        {
            margin: 5px 0;
            color: #fb8108ff;
        }

        &:nth-child(3)
        {
            position: absolute;
            top: calc(65%);
            left: calc(70% - 125px);
        }
        &:nth-child(5)
        {
            position: absolute;
            top: 22%;
            left: 26%;
        }
        &:nth-child(6)
        {
            position: absolute;
            top: 7%;
            left: 58%;
        }
        &:nth-child(7)
        {
            position: absolute;
            top: 64%;
            left: 53%;
        }
    }
}

.break_two
{
    width: 100vw;
    height: 75vh;
    background: rgb(24, 73, 94);
    position: relative;
    // z-index: 11;
    h1
    {
        font-family: 'Bebas Neue', 'sans-serif';
        font-size: 46px;
        position: absolute;
        top: 25%;
        left: 5%;
        letter-spacing: 5px;
        color: #fff;
    }
    h2
    {
        font-family: 'Bebas Neue', 'sans-serif';
        font-size: 46px;
        position: absolute;
        bottom: 25%;
        right: 5%;
        letter-spacing: 5px;
        color: #fff;
    }
}

.planetes_show
{
    width: 100vw;
    height: 100vh;
    // background: #000;
    background: radial-gradient(circle, rgb(24, 73, 94) 0%, rgba(0,0,0,1) 40%);
    position: relative;


        .planet
        {
            width: 75px;
            height: auto;
            margin: 0px 20px;
            position: absolute;
            top: calc(50% - 37.5px);
            left: calc(50% - 55px);

        }

        .mercury2
        {
            top: calc(20% - 37.5px);
            left: calc(40% - 55px);
        }
        .venus2
        {
            top: calc(35% - 37.5px);
            left: calc(45% - 55px);
        }
        .mars2
        {
            top: calc(20% - 37.5px);
            left: calc(60% - 55px);
        }
        .jupiter2
        {
            top: calc(35% - 37.5px);
            left: calc(55% - 55px);
        }
        .saturn2
        {
            top: calc(65% - 37.5px);
            left: calc(55% - 72.5px);
            width: 125px;
        }
        .uranus2
        {
            top: calc(80% - 37.5px);
            left: calc(60% - 55px);
        }
        .neptune2
        {
            top: calc(65% - 37.5px);
            left: calc(45% - 55px);

        }
        .pluto2
        {
            top: calc(80% - 37.5px);
            left: calc(40% - 55px);
        }
        .moon
        {
            opacity: 1;
            width: 40px;
            top: 40%;
            left: 53%;
        }
    


        


    p
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-family: 'Bebas Neue', 'sans-serif';
        font-size: 16px;
        opacity: 1;
        letter-spacing: 5px;
        color: #fff;
        // background-color: rgba(255, 255, 255, 0.25);
        width: 115px;
        height: auto;
        padding: 13px 0 10px 5px;
        border-radius: 15px;
        position: absolute;
        span
        {
            margin: 5px 0;
            color: #fb8108ff;
        }
        &:nth-child(10)
        {
            position: absolute;
            top: 7%;
            left: 45%;
        }
        &:nth-child(11)
        {
            position: absolute;
            top: 22%;
            left: 30%;
        }
        &:nth-child(12)
        {
            position: absolute;
            top: 30%;
            left: 60%;
        }
        &:nth-child(14)
        {
            position: absolute;
            top: 30%;
            right: 60%;
        }
        &:nth-child(15)
        {
            position: absolute;
            top: 30%;
            left: 60%;
        }
    }
}

.moon_scene
{
    width: 100vw;
    height: 100vh;
    // background: #000;
    // background: radial-gradient(circle, rgb(24, 73, 94) 0%, rgba(0,0,0,1) 40%);
    position: relative;

    .moon2
    {
        position: absolute;
        opacity: 1;
        width: 350px;
        height: 350px;
        top: calc(60% - 175px);
        left: calc(50% - 175px);
        &:before {
            content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(60deg, rgba(0,0,0,1) 30%,rgba(0,0,0,0) 60%, transparent);
                opacity: 1; 
                height:100%;
                width:100%;
          }
    }

    .apollo
    {
        position: absolute;
        opacity: 1;
        width: 100px;
        height: 100px;
        top: calc(50% - 55px);
        left: calc(50% + 30px);
        transform: scale(0.3) rotateZ(30deg);
        &:before {
            content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(60deg, rgba(0,0,0,1) 30%,rgba(0,0,0,0) 60%, transparent);
                opacity: 1; 
                height:100%;
                width:100%;
          }
    }
    .apollo_footprint
    {
        position: absolute;
        opacity: 0;
        width: 350px;
        height: 350px;
        top: calc(60% - 175px);
        left: calc(50% - 175px);
        border-radius: 50%;
        &:before {
            content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(60deg, rgba(0,0,0,1) 30%,rgba(0,0,0,0) 60%, transparent);
                opacity: 1; 
                height:100%;
                width:100%;
          }
    }

    .luna_area
    {
        position: absolute;
        top: calc(50% - 50px);
        left: calc(60% - 50px);
        transform: scale(0.2) rotateZ(-30deg);
        .luna
        {
            width: 100px;
            height: 100px;
        }
        .cloud
        {
            position: absolute;
            opacity: 0;
        }
        .cloud1
        {
            top: 10px;
            left: -20px;
            transform: rotateZ(90deg);
        }
        .cloud2
        {
            top: -20px;
            left: -20px;
            transform: rotateZ(90deg);
        }
        .cloud3
        {
            top: 0px;
            left: 0px;
            transform: rotateZ(90deg);
            
        }
    }

    p
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-family: 'Bebas Neue', 'sans-serif';
        font-size: 16px;
        opacity: 1;
        letter-spacing: 5px;
        color: #fff;
        // background-color: rgba(255, 255, 255, 0.25);
        width: 200px;
        height: auto;
        padding: 13px 0 10px 5px;
        border-radius: 15px;
        position: absolute;
        span
        {
            margin: 5px 0;
            color: #fb8108ff;
        }
    }
    
    .moon_info
    {
        top: calc(20% - 75px);
        left: calc(50% - 110px);
    }
    .moon_info2
    {
        top: calc(20% - 75px);
        left: calc(50% - 110px);
    }
}

.footer-social-links
{
opacity: 0;
position: absolute;
top: calc(20% - 75px);
left: calc(50% - 170px);
font-size: 14px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;

  a
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 15px;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    text-align: center;
    color: #fff;
    transform: rotate(45deg);
    border-radius: 5px;
    transition: all 0.3s;
    &:hover
    {
      color: black;
      background-color: #fff;
    }
    i
    {
      font-size: 20px;
      transform: rotate(-45deg);
    }
  }
}

@keyframes jump
{
    from{transform: translateY(0px)}
    to {transform: translateY(-10px);}
}

@keyframes load
{
    from{transform: rotate(-10deg)}
    to {transform: rotate(20deg);}
}
